body {
  margin: 0;
  padding: 0;

  /*CK: roboto*/
  font-family: 'Roboto', sans-serif;
}

/*CK: fix a href overflow*/
a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

video, img {
  width: 100%;
  height: 100%;
}